.example {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
  color: blue;
}

.test {
  margin: 2em;
  padding: .25em;
  border: 2px solid blue;
  text-align: center;
}
